#logo {
  font-family: "Bungee";
  color: #ffffff;
  font-size: 40px;
}

#nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  color: #ffffff;
  /* background-color: #4056a1; */
  position: fixed;
  z-index: 100;
  padding: 1.5em;
  top: 0;
  background-color: #dfad52;
  background-image: url("/images/az-subtle.png");

}
header.mainHeader {
  display: flex;
  
  justify-content: center;
  /* align-items: center; */
  background-color: #dfad52;
  background-image: url("/images/az-subtle.png");
}
#navRigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}